    body{
        background-color:#E9967A;
    }
    
    h2.a{font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: large;
        color: #F5F5DC;
        }

    h2.b{font-family: "Open sans", sans-serif;
        font-weight: bold;
        color:#F5F5DC;
        text-align: center;}

    p.a {font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: medium;
    color: #F5F5DC;
    }

    p.b{font-family: "Roboto", sans-serif;
    font-weight: light;
    font-size: larger;
    color: #000000 ;
    }

    a.a:link, a.a:visited {
    background-color: #ff4362;
    color: whitesmoke;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 3px;
    }

    a.a:hover, a.a:active {
    background-color: red;
    }

    a.b:link, a.b:visited {
    background-color: teal;
    color:white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    }

    a.b:hover, a.b:active {
        background-color: #20B2AA;
    }

    .header{
    background-color: #D3D3D3;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 450;
    font-size: medium;
    color: #F5F5DC;
    }

    .aBox{
    background-color:#D3D3D3;
    text-align: left;
    }

    .container img{
    max-width:20%;
    object-fit: contain;
    }
